.custom-select {
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: ghostwhite;
  width: fit-content;
  min-width: 200px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  color: black;
  font-size: 1.2rem;
}

.custom-select:hover {
  background-color: rgb(128, 106, 150);
  color: white;
}
.flex-container {
  display: flex;
  align-items: center;
}
.flex-container img {
 width: 100px !important;
 height: 100px !important;
}

.ui.circular.image {
  border: 5px solid #e6eded;
}
.centered-text {
  white-space: nowrap;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  color: #16163f;
  font-weight: bold;
  border-bottom: 8px solid #640fb9;
}
.custom-header {
  color: #16163f;
  font-weight: 900;
}
.row.custom-bg {
  background-color: #f7f3fe;
  opacity: 0.9;
  background-image: radial-gradient(circle at center center, #ffffff, #fff),
    repeating-radial-gradient(
      circle at center center,
      #ffffff,
      #925cc4,
      10px,
      transparent 20px,
      transparent 10px
    );
  background-blend-mode: color-burn;
}
.mentor-bio {
  font-size: 1.3rem;
  line-height: 2em;
  font-family: futura-pt;
}
.mentor-content h3 {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.8em;
  margin: 0px;
}
.column.mentordetails{
  display:flex !important;
  align-items: center !important;
}
.mentor-content {
  padding-top: 80px;
}
.mentor-content h3 span {
  font-weight: bold;
  color: #16163f;
}

.ui.medium.circular.image {
  border-color: #fefefe;
  border-width: 12px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
}
.large.header {
  font-size: 3em;
  font-weight: 900;
  letter-spacing: -0.03em;
  font-family: futura-pt;
  color: #16163f;
}

.book-mentor input {
  padding: 8px;
  color: black;
  background-color: #16163f;
  border-radius: 5px;
  font-size: 14px;
  width: 200px;
  border: none;
  outline: none;
}
.book-mentor input:hover {
  background-color: #E26310;
}
#conversation-btn{
  background-color: #E26310; 
}
#conversation-btn:hover{
  background-color: #16163f;
}
#meeting{
  background-color: #16163f;
}
#meeting:hover{
  background-color:#E26310;
}
.ui.colored.header {
  font-weight: bold;
  color: white;
}
label {
  color: #16163f;
}
@media screen and (max-width: 880px) {
  .custom-select {
    width: 100%;
  }
  .ui.header.bold {
    font-size: 2em;
  }
  .ui.colored.header {
    font-size: 1em;
  }
}
.column.mentor-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui.fluid.buttons {
  flex-wrap: wrap;
  justify-content: center;
}

.ui.button.primary,
.ui.teal.button {
  margin: 5px;
  min-width: 100px;
}

@media (max-width: 400px) {
  .ui.button.primary,
  .ui.teal.button {
    min-width: auto;
    width: 100%;
  }
  .large.header {
    font-size: 2em;
    color: black;
  }
  
}
@media (min-width: 768px) {
  .ui.button.primary,
  .ui.teal.button {
    min-width: 100px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  #mentor-image {
    margin: auto;
  }
}
@media (max-width: 578px) {
  .column.mentor-content {
    display: flex !important;
    align-items: center;
  }
}
