@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Slab:wght@900&display=swap");
.sign-up {
  background-color: #e26310;
  padding: 15px;
  border-radius: 20px;
  color: white;
  border: none;
  font-size: 1.5em;
  width: 200px;
}
.sign-up:hover {
  background-color: #ad6ffd;
}
.landing {
  height: 90vh;
  min-height: fit-content;

  background-image: url("https://github.com/Orandifelix/MentorWave/blob/main/public/hero-background.png?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.landing-content {
  margin-left: 5%;
  padding: 20px;
}
.landing-content h1 {
  font-size: 7em;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  line-height: 90px;
}
.landing-content p {
  font-size: 2em;
  width: 50%;
  font-family: sans-serif;
}
#mentee-image {
  position: absolute;
  bottom:-6.5%;
  right: 0;
  margin:0;
  object-fit: contain;

}
@media (max-width:1000px){
  #mentee-image{
    right:-7%;
  }
}
@media(min-width: 1200px){
  .landing{
    height:70vh;
  }
  #mentee-image{
    right:10%;
    bottom:-7.2%;
  }
}
@media (max-width: 768px) {
  .landing {
    padding: 30px;
    background-size: cover;
  }
  .landing-content h1 {
    font-size: 4em;
  }
  .landing-content p {
    font-size: 1.5em;
    width: 75%;
  }
  #mentee-image{
    display:none;
  }
}
@media (max-width: 458px) {
  .landing-content p {
    width: 100%;
  }
  .landing-content h1 {
    line-height: 60px;
  }
}
@media (max-width: 358px) {
  .landing-content h1 {
    font-size: 3em;
  }
}
