.navbar-container{
  background-color:#F7F3FE;
  position:sticky;
  top:0;
  z-index: 999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 5%;
  transition: 0.4s;
}


#menu-icon,
.close.icon {
  display: none;
  cursor: pointer;
}
#home-icon,
#about-icon,
#mentors-icon,
#account-icon, #blog-icon {
  display: none;
}

.window.close.icon:hover,
#menu-icon:hover {
  transition: transform 0.3s;
  transform: scale(1.2);
}
#menu.open {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  background: linear-gradient(#6439ba, rgb(170, 124, 214)), #640fb9;
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  padding: 20px;
  z-index: 999;
  .ui.header.item:hover {
    color: blue;
  }
  .ui.header.item {
    color: white;
    font-size: 1.5em;
  }
}
#menu.open > * {
  margin-top: 40px;
}

#menu.open .close.icon {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 0;
  cursor: pointer;
  color: white;
  font-size: 30px;
}
.my-menu .ui.header.item:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 955px) {
  #menu {
    display: none;
  }
  #home-icon,
  #about-icon,
  #mentors-icon,
  #account-icon, #blog-icon {
    display: inline-block;
  }

  #menu-icon {
    display: block;
    font-size: 2em;
  }
  .close.icon {
    display: block;
  }
}

.navbar-logo {
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  font-family: Roboto;
}
.navbar-logo span {
  color:#E26310;
  font-family: cursive;
}

.sign-in.btn:hover {
  background-color: #AD6FFD;
}
.sign-in.btn {
  background-color: #E26310;
  margin: 20px;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  color: white;
}
#menu a {
  position: relative;
  padding: 8px;
 
}
#menu a:hover{
  background-color: #E26310;
  border-radius: 5px;
  color: white;
}
#menu a::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 0;
  width: 100%;
  display:none;
  height: 5px;
  background-color: #E26310;
  display: none;
  border-radius: 10px;
}

#menu a.active::after {
  display: block;
}
#menu.open a::after {
  display: none;
}