.statistics {
  color: white;
  background-color: #16163f;
  padding: 30px;
  margin: 0;
}
.emphasis {
  text-align: center;
  font-size: 3em;
  margin: 20px;
}

.column {
  color: white;
  margin: 50px 0px 50px 0px;
}

.column h1 {
  font-size: 3em;
  font-weight: 900;
}

#organizations {
  background-color: #fff;
  margin-top: 20px;
}
#organizations h2 {
  font-weight: normal;
  text-align: center;
}
#organizations div img {
  height: 100px;
  width: 100px;
  margin: 10px 50px;
}

.quote img {
  margin: auto 50%;
}
.quote blockquote,
.quote h2 {
  font-size: 1.5em;
  text-align: center;
  line-height: 2em;
  font-weight: bold;
  margin: auto 25%;
}
.testimonials {
  background-color: #720e9e;
  background-image: linear-gradient(315deg, #6e72fc 0%, #720e9e 74%);
  color: white;
  border: none;
  padding: 40px;
 
}
.testimonials h1 {
  text-align: center;
  margin: 20px;
  font-size: 3em;
}
.number {
  border-radius: 50%;
  border: 10px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}
.number.first,
.number.fourth {
  border-bottom-color: rgb(13, 189, 48);
  border-left-color: rgb(13, 189, 48);
  border-top-color: rgb(13, 189, 48);
}
.number.second {
  border-bottom-color: rgb(13, 189, 48);
  border-left-color: rgb(13, 189, 48);
}
.number.third {
  border-left-color: rgb(13, 189, 48);
}
.ourmentors {
  padding: 50px;
  background-color: #720e9e;
  color: white;
}

.ourmentors h1 {
  text-align: center;
  margin: 20px;
  font-size: 3em;
}
/* media querries */
@media (max-width: 900px) {
  .quote blockquote,
  .quote h2 {
    text-align: start;
    font-size: 1em;
    margin: 0;
  }
  #organizations h1 {
    font-size: 2em;
  }

  .quote img {
    margin: auto;
  }
  
  .testimonials h1,
  .emphasis,
  .ourmentors h1 {
    font-size: 2em;
  }
  .number {
    height: 100px;
    width: 100px;
    margin: auto;
  }
  .number.first,
  .number.second,
  .number.third,
  .number.fourth {
    font-size: 1.4em;
  }
  .column h3 {
    text-align: center;
  }
}
@media (max-width: 770px) {
  #organizations div img {
    object-fit: contain;
    width: auto;
    height: auto;
    max-width: 160px;
  }
  #organizations div {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
